<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.2.xsd
                           http://www.springframework.org/schema/task
                           http://www.springframework.org/schema/task/spring-task-3.1.xsd">

    <task:annotation-driven executor="taskExecutor" scheduler="taskSchedule"/>
    <task:executor id="taskExecutor" pool-size="5"/>
    <task:scheduler id="taskSchedule" pool-size="10"/>
    <context:annotation-config/>
    <context:component-scan base-package="com.afengzi.reactor.rx"/>

    <bean id="delayQueue1" class="com.afengzi.delayqueue.impl.DelayQueueWrapperImpl">
        <property name="delayTime" value="1"/>
    </bean>

    <bean id="delayQueue2" class="com.afengzi.delayqueue.impl.DelayQueueWrapperImpl">
        <property name="delayTime" value="5"/>
    </bean>


    <bean id="delayQueue3" class="com.afengzi.delayqueue.impl.DelayQueueWrapperImpl">
        <property name="delayTime" value="10"/>
    </bean>
</beans>